---
layout: minimal
---
<style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Space Mono';
}
.hero-container {
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container h1 {
    font-size: 40px;
}
</style>
<section>
    <div class="hero-container">
        <h1>i was here</h1>
    </div>
</section>